{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3>HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3>Python</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3>Javascript</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3>C</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3>Java</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3>R-Programming</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%"
                    aria-valuemin="0" aria-valuemax="100%"></div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}